<template>
  <highcharts v-if="chartsData.length" :options="chartsOptions"></highcharts>
</template>

<script>
import { Chart } from "highcharts-vue";

export default {
  props: {
    chartsData: {
      type: Array
    }
  },

  components: {
    highcharts: Chart
  },

  data() {
    const component = this;
    return {
      chartsOptions: {
        chart: {
          type: "line",
          style: {
            color: "#666666",
            fontFamily:
              '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
          },
          events: {
            load: function() {
              this.series[0].setData(component.normalizedData);
              var series = this.series[0];
              //  Mock Data service
              component.updateChart = setInterval(() => {
                var x = series.data[99].x + 360000;
                series.addPoint([x, series.data[99].y], true, true);
              }, 3000);
            }
          }
        },
        time: {
          useUTC: false
        },

        title: {
          text: "Price Trends",
          style: {
            fontFamily:
              '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
            fontSize: "1.5rem",
            color: "#666666"
          }
        },

        tooltip: {
          formatter: function() {
            return `Time - <b> ${new Date(this.x) || "NA"}</b><br/>
              Price high - <b> ${this.point.high || "NA"}</b><br/>
              Price low - <b> ${this.point.low || "NA"}</b> <br/>
              Price close - <b> ${this.point.close || "NA"}</b><br/>
              Price Open - <b> ${this.y}</b> <br/>`;
          }
        },

        xAxis: {
          type: "datetime",
          tickPixelInterval: 50,
          gridLineWidth: 1,
          gridLineColor: "#f3f3f3",
          lineColor: "#f3f3f3",
          minorGridLineColor: "#f3f3f3",
          tickColor: "#f3f3f3",
          tickWidth: 1
        },
        yAxis: {
          title: {
            text: "Price"
          },
          gridLineColor: "#f3f3f3",
          lineColor: "#f3f3f3",
          minorGridLineColor: "#f3f3f3",
          tickColor: "#f3f3f3",
          tickWidth: 1
        },
        legend: {
          enabled: false
        },
        exporting: {
          enabled: false
        },
        plotOptions: {
          line: {
            marker: {
              enabled: false
            }
          }
        },
        series: [
          {
            name: "Price"
          }
        ]
      }
    };
  },

  computed: {
    normalizedData() {
      const data = [...this.chartsData];
      return data.map(data => {
        return {
          x: data.time * 1000,
          y: data.open,
          close: data.close,
          high: data.high,
          low: data.low,
          volumefrom: data.volumefrom
        };
      });
    }
  },

  beforeDestroy() {
    clearInterval(this.updateChart);
  }
};
</script>

<style lang="scss" scoped>
.highcharts-credits {
  display: none;
}
</style>
