<template>
  <header class="row header">
    <div class="col-2"><Logo /></div>
  </header>
</template>

<script>
import Logo from "./Logo";

export default {
  components: { Logo }
};
</script>

<style lang="scss" scoped>
.header {
  height: 50px;
  position: fixed;
  margin: 0;
  top: 0px;
  left: 0px;
  background-color: #234357;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 50px -20px;
  width: 100%;
  z-index: 1;
}
</style>
