<template>
  <section class="row dashboard">
    <section class="col-3">
      <div class="coins-list-wrapper">
        <div class="coins-search">
          <input
            type="text"
            class="coins-search-text"
            placeholder="Search by coin name"
            v-debounce:300ms="searchCoin"
          />
        </div>
        <div class="coins-list">
          <DataList
            noData="No coin found"
            :items="coins"
            :selected="selected"
            id="asset_id"
            :on-click="onSelectSymbols"
          />
        </div>
      </div>
    </section>

    <section class="col-9">
      <div class="coin-details">
        <h2 class="coin-title">
          {{ selected.name }} - {{ selected.asset_id }}
        </h2>
        <div class="coin-latest-details">
          <ul>
            <li>
              Current Price
              <div v-if="!isPriceLoading" class="coin-latest-value">
                {{ coinPrice.DISPLAY[selected.asset_id].USD.PRICE }}
              </div>
            </li>
            <li>
              Mkt. Cap
              <div v-if="!isPriceLoading" class="coin-latest-value">
                {{ coinPrice.DISPLAY[selected.asset_id].USD.MKTCAP }}
              </div>
            </li>
            <li>
              Price 24Hr High/Low
              <div v-if="!isPriceLoading" class="coin-latest-value">
                {{ coinPrice.DISPLAY[selected.asset_id].USD.HIGH24HOUR }}/{{
                  coinPrice.DISPLAY[selected.asset_id].USD.LOW24HOUR
                }}
              </div>
            </li>
            <li>
              Open day / 24Hr
              <div v-if="!isPriceLoading" class="coin-latest-value">
                {{ coinPrice.DISPLAY[selected.asset_id].USD.OPENDAY }} /
                {{ coinPrice.DISPLAY[selected.asset_id].USD.OPEN24HOUR }}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="coin-chart">
        <div v-if="isCoinHistoryLoading">
          <Spinner class="coin-spinner" />
        </div>
        <div v-else>
          <Ohlc v-if="!coinHistoryError" :chartsData="coinHistory" />
          <div class="empty-data" v-else>
            Historical data not found for {{ selected.name }}
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import coins from "@/constants/symbols";
import Ohlc from "@/components/charts/Ohlc.vue";
import DataList from "@/components/common/DataList";

export default {
  components: { Ohlc, DataList },

  data() {
    return {
      allCoins: coins,
      searchTerm: null,
      selected: coins[0]
    };
  },

  computed: {
    ...mapGetters({
      isPriceLoading: "coin/isPriceLoading",
      coinPrice: "coin/price",
      isCoinHistoryLoading: "coin/isHistoryLoading",
      coinHistory: "coin/history",
      coinHistoryError: "coin/historyError"
    }),

    coins() {
      const term = this.searchTerm,
        coins = this.allCoins;
      if (!term || term.length < 3) {
        return coins;
      }
      return coins.filter(coin =>
        coin.name.toLocaleLowerCase().includes(term.toLocaleLowerCase())
      );
    }
  },

  async created() {
    try {
      const coinId = this.selected.asset_id;
      await this.$store.dispatch("coin/getPrice", { coinId });
      await this.$store.dispatch("coin/getHistoricalData", { coinId });
    } catch (err) {
      // log(err)
    }
  },

  methods: {
    async onSelectSymbols(coin) {
      this.selected = coin;
      const coinId = coin.asset_id;
      await this.$store.dispatch("coin/getPrice", { coinId });
      await this.$store.dispatch("coin/getHistoricalData", { coinId });
    },

    searchCoin(term) {
      this.searchTerm = term;
    }
  }
};
</script>

<style lang="scss" scoped>
.dashboard {
  max-width: 1366px;
  margin: 0 auto;
}

.coins-list {
  position: absolute;
  width: 100%;
  top: 39px;
  z-index: 1;
  background: #fff;
  &-wrapper {
    position: fixed;
    height: 100%;
    width: 340px;
    z-index: 1;
    overflow-y: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.coins-search {
  &-text {
    border: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: #9b9b9b;
    border-bottom: 1px solid #f1f1f1;
    &:focus {
      outline: none;
    }
  }
}

.coin {
  &-details {
    padding: 20px;
    min-height: 200px;
  }
  &-title {
    font-size: 2rem;
  }
}

.coin-latest {
  &-details {
    color: rgb(117, 117, 117);
    font-size: 1.2rem;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        width: 220px;
        display: inline-block;
        margin: 0 5px;
        padding: 10px;
        min-height: 62px;
        background: rgba(170, 170, 170, 0.4);
        border: 1px solid rgba(170, 170, 170, 0.4);
        border-radius: 4px;
      }
    }
  }
  &-value {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.coin-spinner {
  margin-top: 50px;
}
</style>
