<template functional>
  <ul class="data-list" v-if="props.items.length">
    <li
      :class="props.selected[props.id] === item[props.id] ? 'selected' : ''"
      class="data-list-item"
      v-for="item in props.items"
      :key="item[props.id || 'id']"
      @click="props.onClick(item)"
    >
      {{ item[props.label || "name"] }}
    </li>
  </ul>
  <div v-else class="empty-data">{{ props.noData }}</div>
</template>

<style lang="scss" scoped>
.data-list {
  list-style-type: none;
  padding: 0;
  &-item {
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    &:hover {
      background: #f4f4f4;
    }
    &.selected {
      background: #f4f4f4;
    }
  }
}
</style>
