<template>
  <div class="spinner"></div>
</template>

<style lang="scss" scoped>
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 0 auto;
  width: 25px;
  height: 25px;
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid #23435780;
    border-color: #23435780 transparent #23435780 transparent;
    animation: rotate 1.2s linear infinite;
  }
}
</style>
