<template>
  <div id="app">
    <Header />
    <main class="main-container">
      <router-view />
    </main>
  </div>
</template>

<script>
import Header from "@/components/app/Header";

export default {
  components: { Header }
};
</script>

<style lang="scss">
@import "./styles/app";
.main-container {
  margin-top: 50px;
}
</style>
